name: CI Build
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    container: python:3.11-slim

    services:
      postgres:
        image: postgres:15-alpine
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: pgs3cr3t
          POSTGRES_DB: postgres

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          python -m pip install poetry
          poetry config virtualenvs.create true
          poetry lock --no-update
          poetry install
      - name: Linting
        run: |
          poetry run flake8 service tests --count --select=E9,F63,F7,F82 --show-source --statistics
          poetry run flake8 service tests --count --max-complexity=10 --max-line-length=127 --statistics
          poetry run pylint service tests --max-line-length=127
          echo "Linting completed"

      #- name: Run unit tests with PyTest
        #run: poetry run pytest --pspec --cov=service --cov-report=xml --cov-fail-under=95
        #env:
          #DATABASE_URI: "postgresql+psycopg://postgres:pgs3cr3t@localhost:5432/postgres"

      # Uncomment to upload coverage to Codecov
      # - name: Upload coverage reports to Codecov
      #   uses: codecov/codecov-action@v3.1.4
      #   with:
      #     token: ${{ secrets.CODECOV_TOKEN }}
      #     token: ${{ secrets.CODECOV_TOKEN }}
